<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Library_Of_CSE.Properties.Settings.ScriptConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=Script;User ID=sa;Password=12345"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>